*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(26, 26, 26);
}
p{
    color: white;
}

h1{
    color: white;
}

#all{
    /* border: 5px solid green; */
    height: 1850px;
}

#navbar{
    /* border: 5px solid yellow; */
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 30px;
}

#go{
    height: 40px;
    border-radius: 0px;
}

.logo{
    /* border: 5px solid black; */
    width: 130px;
}

.search{
    /* border: 5px solid pink; */
    /* color: white; */
    border-radius: 30px;
}
input{
    border-radius: 30px;
    background-color: rgb(33, 33, 33);
}

.links{
    /* border: 5px solid lightgreen; */
    width: 500px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color:rgb(208, 36, 94);
    padding: 10px 10px 10px 10px;
}

#profileimg{
    height:30px;
    width: 30px;
    border-radius: 60px;
}

.prof{
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 110px;
    padding: 5px;
}

.bigbox{
    /* border: 5px solid lightgreen; */
    margin: 20px 30px 20px 30px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(42, 42, 42);

}

.box1{
    /* border: 5px solid rgb(71, 111, 156); */
    background-image: url(../Main.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin:  30px 30px 30px 30px;
    padding: 80px 0px 0px 40px;
    height: 320px;
    border-radius: 30px;

}
.box2{
    /* border: 5px solid rgb(139, 37, 100); */
    background-color:rgb(27, 27, 27) ;
    margin:  30px 30px 30px 30px;
    padding: 30px;
    color: white;
    border-radius: 30px;
    height: min-content;
    
}
.cardbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* color: white; */
    font-size: x-small;
    margin: 40px 0px 10px 0px;
}

.card1{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;
}
img{
    border-radius: 30px;
}
.card2{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;


}
.card3{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;


}
.card4{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;


}
.card5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 450px;

}

.card6{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;

}
.card7{
    margin: 10px;
    padding: 20px;
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    width: 195px;

}
.box3{
    /* border: 5px solid rgb(139, 85, 28); */
    color: white;
    font-size: smaller;
    margin:  30px 30px 30px 30px;
    padding: 30px;
    background-color:rgb(27, 27, 27) ;
    border-radius: 30px;

}

.box3 table{
    width: 100%;
    height: 200px;
    margin:  30px 30px 30px 10px;
    padding: 10px 10px 10px 0px;

}

#align{
    text-align: right;
}

.align2{
    text-align: center;
}

#button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.down{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid grey;
    background-color: rgb(33, 33, 33);
    color: grey;
}
.down:hover{
    color: rgb(208, 36, 94);
    border:1px solid rgb(208, 36, 94);
}

.start{
    background-color: rgb(208, 36, 94);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 200px;
    height: 40px;
    border-radius: 30px;
    /* position: relative;
    bottom: 40px; */

}

#upper{
    background-color: rgb(208, 36, 94);
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center; 
    width: 200px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    bottom: 50px;
    left: 40%;
}

tr.align2{
    padding-bottom: 50px;
}